    <form id="loginForm" [formGroup]="loginForm" (ngSubmit)="loginUser($event);">
        <input id="input-1" formControlName="email" type="email" placeholder="example@address.com" required autofocus />
        <label for="input-1">
            <span class="label-text">Email</span>
            <span class="nav-dot"></span>
            <div class="signup-button-trigger">Welcome Back! Click here to log in</div>
        </label>
        <input id="input-2" formControlName="password" type="password" placeholder="Password" required />
        <label for="input-2">
            <span class="label-text">Password</span>
            <span class="nav-dot"></span>
        </label>
        <button type="submit">Log in</button>
        <p class="tip">Press Tab</p>
        <div class="signup-button">Welcome Back! Click here to log in</div>
    </form>
    <p class="formError">{{formMessage}}</p>

