<div class="modal is-active ">
<div [@fadeInAnimation] [routerLink]="['../']" class="modal-background"></div>
 <form id="loginForm" class="loginForm" [formGroup]="loginForm" (ngSubmit)="loginUser();">
  <div [@slideLeftAnimation] class="modal-card">
  <div class="modal-card-head has-text-centered">
<div class="level">
      <div class="level-left">
      <div class="modal-card-title">
        Login here
      </div>
      </div>
    <div class="level-right">
      <div class="modal-card-title ">
        <a class="subtitle" [routerLink]=" ['/home/register'] ">Need an account? (Register here...)</a>
      </div>
    </div>
  </div>
    <div [routerLink]="['../']" class="modal-close"></div>
  </div>
  <div class="modal-card-body">
      <div class="top field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">E-mail</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control is-expanded has-icons-left">
              <input formControlName="email" class="input" type="email" required placeholder="E-mail">
              <span class="icon is-small is-left">
          <i class="fa fa-envelope"></i>
        </span>
            </p>
          </div>
          <div class="field-label is-normal">
            <label class="label">Password</label>
          </div>
          <div class="field">
            <p class="control is-expanded has-icons-left">
              <input formControlName="password" class="input" type="password" required placeholder="Password">
              <span class="icon is-small is-left">
          <i class="fa fa-lock"></i>
        </span>
            </p>
          </div>
        </div>
      </div>
  </div>
  <div class="modal-card-foot">
    <div class="card-footer-item">
      <p class="formError">{{formMessage}}</p>
    </div>
    <div class="card-footer-item">
          <button [disabled]="!loginForm.valid" class="registerButton button is-primary submit">
         Login!
    </button>
    </div>
  </div>
</div>
 </form>
</div>