
.sheetBody
    display: flex
    flex-direction: column
.sheetPartial
    display: flex
.nav-item
    margin-top: 5vh
    transition: all 1s
    opacity: .9
    &:hover
        transition: .3s
        opacity: .6
        background-color: red 
.is-active
    background-color: red
    transform: scale(1.1,1.1)
    transition: all 1s
    opacity: 1 

.is-active a
    color: white
