.sheetBody
    display: flex
    flex-direction: column
.sheetPartial
    display: flex
.nav-item
    margin-top: 6vh
    border-radius: 30px
    transition: all .5s
    &:hover
        transition: .3s
.nav-item a:not(.button).is-active
    color: white
.is-active
    transition: all 1s
    opacity: 1
    border-radius: 10px
.player-side-nav
    text-align: center
.sheetHero
    border-radius: 10px
    margin: 1vw
.mainSearch
    border-radius: 4px 
.section
    overflow: hidden
.exampleNot
    width: 50%
    margin: 0 auto