<div class="modal is-active">
  <div [routerLink]="['../']" class="modal-background"></div>
  <div @slideLeftAnimation class="modal-card">
    <div class="modal-card-head">
      <p class="modal-card-title">Create Note</p>
      <div class="modal-card-title field">
            <div class="control is-expanded has-icons-left">
              <input [(ngModel)]="keyword" (keyup.enter)="newKeyWord(keyword)" class="input is-small" placeholder="New Key Word (press enter to save)">
               <div *ngFor="let word of keyWords"></div>
              <span class="icon is-small is-left">
          <i class="fa fa-align-center"></i>
        </span>
            </div>
      </div>
    </div>
    <div class="modal-card-body">
    <form [formGroup]="noteForm">
          <div class="field">
            <p class="control is-expanded has-icons-left">
              <input formControlName="title" class="input" type="text" required placeholder="Title">
              <span class="icon is-small is-left">
          <i class="fa fa-angle-right"></i>
        </span>
            </p>
          </div>
          <div class="field">
            <p class="control is-expanded has-icons-left">
              <textarea autosize formControlName="content" class="input" type="email" placeholder="Content"></textarea>
              <span class="icon is-small is-left">
          <i class="fa fa-align-center"></i>
        </span>
            </p>
          </div>
    </form>
 
      <p class="keywords">Keywords:</p>
      <p class="keyword" *ngFor="let word of keyWords">{{word}}</p>
 
    </div>
    <div class="modal-card-foot">
        <button (click)="newNote()" class="is-centered button is-primary submit">
         Write Note
    </button>
    <a [routerLink]="['../']">Cancel</a>
        <p class="formMessage">{{formMessage}}</p>
    </div>

</div>
</div>