<div class="section">
  <article class="content mainContent is-large">
  <h1>
   Player Sheet Co.
  </h1>
  <h5>
    A simple online solution to a complicated piece of paper. Optimized for fifth edition.
  </h5>
  <br>
  <h3>
    Mission Goals:
  </h3>
  <ul>
    <li> Extensive player Sheet </li>
    <li> Intuitive Campaign Notes </li>
    <li> Basic Battle Tracking for use in game </li>
  </ul>
  <br>
  <p> If this seems cool to you feel free to make a pull request on Github or contact me directly.</p>
  </article>
</div>