 <article class="box"> 
   <p class="title is-1">Primary Stats</p>
   <ul class="statList">
     <li class="stat" *ngFor="let stat of primaryStats">
       <div class="pStat box">
        <p class="title is-size-3">{{stat.title}}</p>
        <input autosize [ngClass]="ifEditing(stat)" (keyup)="maybeChanging(stat)" (blur)="registerChangeEnter(stat, player)" [(ngModel)]="player[stat.stat]" class="input is-large" type="text" placeholder="0" />
        <p class="subtitle">{{player.singleModCalc(stat.stat)}}</p>
       </div>
     </li>
   </ul>
 </article>
 <main class="columns">
  <article class="playerSkills-container column is-6">
    <p class="title">Your Skills</p><small>click to change modifiers</small>
    <ul>
      <li *ngFor="let skill of player.skills; let i = index" class="single-skill"> 
                <div class="media skill">
                <div class="media-content">
                  <div class="content">
                    <p class="skillText"> {{skill.title}}</p><small (click)="toggle(skill)" class="skillText"> + {{skill.prof}} </small><input (blur)="toggle(skill)" [ngClass]="checkEdit(skill)" [(ngModel)]="skill.prof" class="input is-small">
                  </div>
               </div>
                    <div class="media-right">
                      <span class="icon removeicon" (click)="removeSkillFromPlayer(i)">  <i class="fa fa-minus-square"></i></span>
                    </div>
              </div>
    
      </li>
    </ul>
  </article>

  <article class="column is-6">
    <p class="title is-1">All Skills</p>
    <ul class="columns">
      <li *ngFor="let stat of skillsLib" class="single-skill column"> 
        <p class="subtitle"> {{stat.title}} {{player[stat.statName]}}</p>
          <ul>
            <li *ngFor="let skill of stat.skills column">
             <div class="media skill">
                <figure class="media-left">              
                  <span class="icon addicon" (click)="addSkillToPlayer(skill)" >  <i class="fa fa-plus-square"></i></span>
                </figure>
                <div class=" media-content">
                  <div class="content">
                    <p class="skillText"> {{skill.title}}</p>
                  </div>
               </div>
              </div>
            </li>
          </ul>
          </li>
    </ul>
 </article>

</main>