.addicon
 display: inline
 margin-left: 4px
 color: green
 cursor: pointer
.removeicon
 display: inline 
 margin-left: 4px
 color: red
 cursor: pointer
.skillText
 display: inline
.skill
 margin: 5%
.input
 width: 50px
 float: right