<main class="columns">
  <div class="statContainer column" [dragula]='"info-bag"' [dragulaModel]='basicInfo' @slideLeftAnimation *ngIf='player'>
    <div class="box" *ngFor="let stat of basicInfo">
        <article class="singleStat">
         <strong> <label for=""> {{stat.title}}</label> </strong>
          <div class="control has-icons-right">
            <input autosize [ngClass]="ifEditing(stat)" (keyup)="maybeChanging(stat)" (blur)="registerChangeEnter(stat, player)"
              [(ngModel)]="player[stat.stat]" class="input" type="text" placeholder="{{stat.title}}">
            <span class="icon is-small is-right">
                    <i *ngIf="stat.editing" class="fa fa-spinner fa-spin"></i>
                    <i *ngIf="!stat.editing" class="fa fa-check"></i>
                  </span>
          </div>
        </article>
      </div>
  </div>
</main>
