.is-editing
 border: 1px solid yellow

.done-editing
 &:focus
  border: 1px solid green

.statContainer
 margin: 3%
 display: flex
 flex-direction: row
 flex-wrap: wrap

.box
 text-align: center 
 width: 48%
 margin: 10px auto


.flashit
 background-color: green


@-webkit-keyframes flash 
 0% { opacity: 0; background-color: green } 
 100% { opacity: 1; background-color: green }

@keyframes flash 
 0% { opacity: 1; background-color: green }  
 100% { opacity: 0; background-color: green }
