  <section [@fadeInAnimation]>
   <section class="hero is-primary">
     <div class="hero-body">
       <div class="container">

       </div>
     </div> 
   <div class="hero-foot">
    <nav class="tabs">
      <div class="container">
        <ul>
          <li [routerLink]="[ '/player-dashboard' ]" class="is-active"><a>All Players</a></li>
          <li [routerLink]="[ 'new' ]"><a>Add a new player</a></li>
        </ul>
      </div>
    </nav>
  </div>
</section>
  </section>
<main class="columns">
  <section class="column">
    <app-player-list></app-player-list>
  </section>
        <router-outlet></router-outlet>
</main> 

