
<form id="newPlayerForm" [formGroup]="newPlayerForm" (ngSubmit)="doCreate($event);">
      <h5 >{{formMessage}}</h5>
      
        <label for="Real Life Name">Real Name:</label>
        <input type="text" class="input" formControlName="realName" aria-describedby="emailHelp" placeholder="In Real Life">
   
        <label for="Character Name">Character Name:</label>
        <input type="text" class="input" formControlName="name" aria-describedby="emailHelp" placeholder="Enter Character Name">

        <label for="Race">Race:</label>
        <input type="text" class="input" formControlName="race" aria-describedby="emailHelp" placeholder="Race">
 
        <label for="Class">Class:</label>
        <input type="text" class="input" formControlName="classType" aria-describedby="emailHelp" placeholder="Class Type">

    <button type="submit" class="button">Register</button>
</form>