/* You can add global styles to this file, and also import other style files */
@import './../node_modules/bulma/sass/utilities/initial-variables.sass';
@import './../node_modules/font-awesome/css/font-awesome.min.css';
html
   height: 100%
body
   min-height: 100%;
   display: flex;
   flex-direction: column;
body.preload *
 animation-duration: 0s !important
 -webkit-animation-duration: 0s !important
 transition: background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important
#Content
    flex: 1
.loader-overlay
    border: 16px solid #f3f3f3
    border-top: 16px solid black
    border-radius: 50%
    width: 120px
    height: 120px
    animation: spin 1.2s linear infinite
    position: relative
    margin: 0 auto
    margin-top: 25%
@keyframes spin 
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
$primary: #769283
$navbar-background-color: #769283
$navbar-item-hover-background-color: #e7e8de
$navbar-item-color: white

@import './../node_modules/dragula/dist/dragula.min.css'
@import './../node_modules/bulma/bulma.sass'
