<section class="columns">
    <article class=" infoColumn has-text-centered column">
        <span class="icon is-large"><i class="fa fa-users"> </i></span>
        <p class="infoText">A place to manage multiple characters.</p>
        <p class="infoText">All your player sheet needs, all of you.</p>
    </article>
    <article class=" infoColumn has-text-centered column">
        <span class="icon is-large"><i class="fa fa-cloud-upload"> </i></span>
        <p class="infoText">Save your changes right here,</p>
        <p class="infoText">taking away the stress of information managment.</p>
    </article>
    <article class=" infoColumn has-text-centered column">
        <span class="icon is-large"><i class="fa fa-book"> </i></span>
        <p class="infoText">All your spells and spell info in one place.</p>
        <p class="infoText">Cultivate a searchable tome of spells.</p>
    </article>
    <article class=" infoColumn has-text-centered column">
        <span class="icon is-large"><i class="fa fa-sticky-note"> </i></span>
        <p class="infoText">Time stamped, key word searchable notes.</p>
        <p class="infoText">Keep track of the world around you.</p>
    </article>
</section>
