<main class="homeContainer section has-text-centered">
    <p class="mainTitle">  Managing your alter ego can be hard,</p>
    <p class="welcomeTitle">Welcome to Player Sheet Co.</p>
    <p class="subTitle">A simple solution to keeping track of your characters</p>
</main>
<section class="hero createButtonContainer">
  <div class="hero-body">
    <div class="container has-text-centered">
          <a href="/create"><button class="button createButton"><p class="btnText">Create a Character</p><span class=" btnIcon icon is-large">
             <i class="fa fa-angle-double-right"></i>
        </span></button></a>
    </div>
  </div>
</section>
<app-info-columns></app-info-columns>
