.mainTitle
 padding: 1%
 color: #0E0B16
 font-size: 25pt
.homeContainer
 background: white
.welcomeTitle
 padding: 2%
 font-weight: 700;
 font-size: 55pt
 color: #0E0B16
.subTitle
 padding: 1%
 color: #0E0B16
 font-size: 25pt
.createButtonContainer
 background: linear-gradient(to left top, #A239CA, #0E0B16)
.jumpButtonContainer
 background: linear-gradient(to left top, #4717F6, #0E0B16)
.createButton, .jumpButton
 font-size: 4rem
 border-radius: 100px
 text-align: center
 border: none
 background-color: #A239CA
 transition: all 0.5s
 cursor: pointer
 opacity: 1
 color: white
.jumpButton
 background-color: #4717F6

.createButton, .jumpButton
 &:hover
  opacity: 1
  .btnText
   margin-right: 15px
  .btnIcon
   animation-duration: 0.6s
   animation-name: spin
.btnIcon
 animation-name: backspin
 animation-duration: 0.6s
 transition: all 0.6s
 font-size: 40pt
 margin-top: 9px
 margin-left: 15px 
.btnText
 transition: all 0.6s

 @keyframes backspin
  100%
    transform: rotate(0deg)
  0%
    transform: rotate(360deg)
 @keyframes spin
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)

