<div class="modal is-active is-mobile">
<div [@fadeInAnimation] [routerLink]="['../']" class="modal-background"></div>
 <form id="registerForm" class="registerForm" [formGroup]="registerForm" (ngSubmit)="registerNew();">
  <div [@slideLeftAnimation] class="modal-card">
  <div class="modal-card-head has-text-centered">
    <div class="level">
      <div class="level-left">
      <div class="modal-card-title">
        Register here
      </div>
      </div>
    <div class="level-right">
      <div class="modal-card-title ">
        <a class="subtitle" [routerLink]=" ['/home/login'] ">Already have an account? (Login here...)</a>
      </div>
    </div>
    <div [routerLink]="['../']" class="modal-close"></div>
  </div>
  </div>
  <div class="modal-card-body">
      <div class="top field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">User Name</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control is-expanded has-icons-left">
              <input [ngClass]="registerStatus()" formControlName="userName" class="input" type="text" required placeholder="User Name">
              <span class="icon is-small is-left">
          <i class="fa fa-user"></i>
        </span>
            </p>
          </div>
          <div class="field-label is-normal">
            <label class="label">Email</label>
          </div>
          <div class="field">
            <p class="control is-expanded has-icons-left">
              <input [ngClass]="registerStatus()" formControlName="email" class="input" type="email" placeholder="Email">
              <span class="icon is-small is-left">
          <i class="fa fa-envelope"></i>
        </span>
            </p>
          </div>
        </div>
      </div>
      <div class="bottom field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Password</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control is-expanded has-icons-left">
              <input [ngClass]="registerStatus()" formControlName="password" class="input" type="password" required placeholder="Password">
              <span class="icon is-small is-left">
          <i class="fa fa-lock"></i>
        </span>
            </p>
          </div>
          <div class="field-label is-normal">
            <label class="label">Confirm</label>
          </div>
          <div class="field">
            <p class="control is-expanded has-icons-left has-icons-right">
              <input [ngClass]="registerStatus()" formControlName="confirmPassword" class="input" type="password" placeholder="Confirm Password">
              <span class="icon is-small is-left">
          <i class="fa fa-check"></i>
        </span>
            </p>
          </div>
        </div>
      </div>
  </div>
  <div class="modal-card-foot">
    <div class="card-footer-item">
      <p class="formError">{{formMessage}}</p>
    </div>
    <div class="card-footer-item">
          <button [disabled]="!registerForm.valid" class="registerButton button is-primary submit">
         Register!
    </button>
    </div>
  </div>
</div>
 </form>
</div>